{% extends "base/layout.html" %}

{% block content %}

    <div class="card">
        <div class="class-header">
            <h3 class="card-title">
                Detalles
            </h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-lg">
                    <t-body>
                        <tr>
                            <td><strong>Nombre:</strong></td>
                            <td>{{ object.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <div class="col-12 d-flex justify-content-end">
                <a href="{% url 'exercise_list' %}" class="btn btn-light-secondary me-1 mb-1">Continuar</a>
                <a href="{% url 'exercise_create' %}" class="btn btn -success me-1 mb-1">Crear otro</a>
                <a href="{% url 'exercise_update' pk=object.id %}" class="btn btn-primary me-1 mb-1">Actualizar</a>
                <a href="{% url 'exercise_delete' pk=object.id %}" class="btn btn-danger me-1 mb-1">Eliminar</a>
            </div>
        </div>
    </div>

{% endblock content %}