{% extends "components/forms/form_base.html" %}
{% load static %}

{% block form %}

<form class="form form-vertical" method="post">
    {% csrf_token %}
    <div class="form-body">
        <div class="row">
            <div class="col-12">
                <fieldset class="form-group{% if form.rutine.field.required %} mandatory{% endif %}">
                    <label class="form-label" for="{{ form.rutine.id_for_label }}">{{form.rutine.label}}</label>
                    {{ form.rutine }}
                </fieldset>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <button type="submit" class="btn btn-success me-1 mb-1">Guardar</button>
                <a href="{% url 'picked_rutine_list' %}" class="btn btn-danger me-1 mb-1">Cancelar</a>
            </div>
        </div>
    </div>
</form>

{% endblock form %}