<!-- user/detail.html -->
{% extends "base/layout.html" %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Detalles del Usuario</h3>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-lg">
                <tbody>
                    <tr>
                        <td><strong>Nombre:</strong></td>
                        <td>{{ user.first_name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Apellido:</strong></td>
                        <td>{{ user.last_name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Email:</strong></td>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td><strong>Sexo:</strong></td>
                        <td>{{ user.is_male|yesno:"Hombre,Mujer" }}</td>
                    </tr>
                    <tr>
                        <td><strong>Contraseña:</strong></td>
                        <td>************</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <div class="col-12 d-flex justify-content-end">
            <a href="{% url 'user_list' %}" class="btn btn-light-secondary me-1 mb-1">Continuar</a>
            <a href="{% url 'user_update' user.pk %}" class="btn btn-primary me-1 mb-1">Actualizar</a>
            <a href="{% url 'user_delete' user.pk %}" class="btn btn-danger me-1 mb-1">Eliminar</a>
        </div>
    </div>
</div>
{% endblock content %}
