{% load static %}
<nav class="navbar navbar-expand navbar-light navbar-top">
    <div class="container-fluid">
        <a href="#" class="burger-btn d-block">
            <i class="bi bi-justify fs-3"></i>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav ms-auto mb-lg-0"></div>
            <div class="dropdown">
                <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="user-menu d-flex">
                        <div class="user-name text-end me-3">
                            <h6 class="mb-0 text-gray-600">
                                {% if user.is_authenticated %}
                                    {{user.last_name}} {{user.first_name}}
                                {% else %}
                                    Error de autenticación
                                {% endif %}
                            </h6>

                            <p class="mb-0 text-sm text-gray-600">
                                {% if user.is_authenticated %}
                                    {% if user.is_superuser %}
                                        Super usuario
                                    {% elif user.is_staff %}
                                        Administrador
                                    {% elif is_trainer %}
                                        Entrenador
                                    {% else %}
                                        Usuario
                                    {% endif %}
                                {% else %}
                                    ERROR
                                {% endif %}
                            </p>
                        </div>
                        <div class="user-img d-flex align-items-center">
                            <div class="avatar avatar-md">
                                {% if user.is_male %}
                                    <img src="{% static 'assets/compiled/jpg/2.jpg' %}">
                                {% else %}
                                    <img src="{% static 'assets/compiled/jpg/5.jpg' %}">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton" style="min-width: 11rem;">
                    <li>
                        <h6 class="dropdown-header">Opciones</h6>
                    </li>
                    <li><a class="dropdown-item" href="{% url 'user_detail_profile' %}"><i class="icon-mid bi bi-person me-2"></i>Perfil</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <form method="post" action="{% url 'user_logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item"><i class="icon-mid bi bi-box-arrow-left me-2"></i> Cerrar sesión</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>